/* App.css - Basic styling for your React app */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: #f4f4f9;
    color: #333;
    width: 95vw;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #f4f4f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #175fac;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}