.navbar {
    width: 100%;
    background: #0AF5A3 ;
    color: #fff;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
}

.navbar a{
    margin-right: 24px;
    text-decoration: none;
    color: #023020;
    font-size: 1.2rem;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a:hover {
    color: #18181b;
}
